{% extends 'base.html' %}
{% load static %}
{% block title %} Create new note {% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/aboutus.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
          <a href="{{ past_page }}" class="btn"> Go back </a>
      </form>

    </div>s
{% endblock %}