{% extends 'base.html' %}
{% load static %}
{% block title %} {{ note.title }} {% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles/notes.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/aboutus.css' %}">
{% endblock %}

{% block content %}
    <div  style="text-align: center; width: 1100px">
        <h1> {{ note.title }} </h1>
        <p> {{ note.body }} </p>
        <h4> Category </h4>
        <div class="category">
            <div class="category-icon" style="color: {{ note.category.color }}"> <span class="material-symbols-rounded"> {{ note.category.icon }} </span> </div>
            <div class="category-tag" style="color: {{ note.category.color }}">{{ note.category.title }}</div>
        </div>

        {% if note.updated %}
            <h4> Last update {{ note.updated | timesince }} ago </h4>
        {% else %}
            <h4> Last update {{ note.created | timesince }} ago </h4>
        {% endif %}
        <br>
    <small> id: {{ note.uuid }} </small>

    <hr>
    <div class="buttons">
         <a href="{% url 'EditNotePage' note.owner note.uuid %}">
         <button class="button">Edit</button>
        </a>
        <a href="{% url 'DeleteNote' note.owner note.uuid %}">
        <button class="button">Delete</button>
        </a>
    </div>


    </div>
{% endblock %}