{% extends 'base.html' %}
{% load static %}
{% block title %} Edit profile {% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/aboutus.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1> Change your information! </h1>

      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
          {% if request.user.profile %}
          <h5> Your current profile: <a href="{{ request.user.profile }}"> VIEW </a> </h5>
          {% endif %}
        <input type="submit" value="Submit">
          <a href="{% url 'DashboardPage' %}" class="btn"> Go back </a>
      </form>

    </div>
{% endblock %}